# Break

In [1]:
for i in range(0,5):
    print(i)

0
1
2
3
4

In [2]:
for i in range (5):
    print(i)

0
1
2
3
4

In [11]:
for i in range (5):
    print(i)
    if i==3:
        break

0
1
2
3

In [12]:
for i in range(1,6):
    print(i)
    if i==3:
        print('i is 3')
        break

1
2
3
i is 3

In [23]:
for i in range (6):
    if i==4:
        print(i)
        print('skipping this 4 ')
        break

4
skipping this 4

In [24]:
lt=[10,20,30,40,50,60,70,80,90,100]

In [25]:
lt

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [28]:
for i in lt:
    print(i)

10
20
30
40
50
60
70
80
90
100

In [31]:
for i in lt:
    if i==30:  
        print('continue')
        continue
    if i==60:      
        print('break')
        break
    print(i)

10
20
continue
40
50
break

In [35]:
l2=['english','tamil','math','science','social', 'physics','chemistry', 'data science']

In [36]:
l2

['english',
 'tamil',
 'math',
 'science',
 'social',
 'physics',
 'chemistry',
 'data science']

In [38]:
for i in l2:
    if i=='math':
        print('this is my favourite subject')
        continue
    if i=='social':
        print('this is not my favourite subject')
        break
    print(i)

english
tamil
this is my favourite subject
science
this is not my favourite subject