## Salary Dataset Price Prediction

## Simple Linear Regression

In [2]:
# Importing libraries

In [37]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
# Reading csv file

In [7]:
data=pd.read_csv(r"C:\Users\vigne\OneDrive\Desktop\sathish workbench\bi\New folder\Salary_dataset.csv")

In [8]:
data.head()

   Unnamed: 0  YearsExperience   Salary
0           0              1.2  39344.0
1           1              1.4  46206.0
2           2              1.6  37732.0
3           3              2.1  43526.0
4           4              2.3  39892.0

In [9]:
# EDA- Explanatory Data Analysis

In [10]:
# know shape of the data
data.shape

(30, 3)

In [11]:
# find colunm names
data.columns

Index(['Unnamed: 0', 'YearsExperience', 'Salary'], dtype='object')

In [12]:

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       30 non-null     int64
 1   YearsExperience  30 non-null     float64
 2   Salary           30 non-null     float64
dtypes: float64(2), int64(1)
memory usage: 848.0 bytes

In [13]:
# explore summary statistics
data.describe()

       Unnamed: 0  YearsExperience         Salary
count   30.000000        30.000000      30.000000
mean    14.500000         5.413333   76004.000000
std      8.803408         2.837888   27414.429785
min      0.000000         1.200000   37732.000000
25%      7.250000         3.300000   56721.750000
50%     14.500000         4.800000   65238.000000
75%     21.750000         7.800000  100545.750000
max     29.000000        10.600000  122392.000000

In [14]:
# find null values
data.isnull().sum()

Unnamed: 0         0
YearsExperience    0
Salary             0
dtype: int64

In [15]:
# Find Duplicated values
data.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
dtype: bool

In [16]:
# split the target and independent variable

In [19]:
data.columns

Index(['Unnamed: 0', 'YearsExperience', 'Salary'], dtype='object')

In [21]:
X=data['YearsExperience']
Y=data['Salary']

In [23]:
X.head()

0    1.2
1    1.4
2    1.6
3    2.1
4    2.3
Name: YearsExperience, dtype: float64

In [24]:
Y.head()

0    39344.0
1    46206.0
2    37732.0
3    43526.0
4    39892.0
Name: Salary, dtype: float64

In [25]:
# Train test split

In [27]:
from sklearn.model_selection import train_test_split

In [29]:
X_train, Y_train, X_test, Y_test=train_test_split(X, Y, random_state=7, test_size=0.2)

In [31]:
X_train

18     6.0
24     8.8
27     9.7
29    10.6
12     4.1
13     4.2
16     5.2
0      1.2
28    10.4
6      3.1
26     9.6
20     6.9
10     4.0
21     7.2
8      3.3
14     4.6
7      3.3
23     8.3
19     6.1
3      2.1
22     8.0
25     9.1
4      2.3
15     5.0
Name: YearsExperience, dtype: float64

In [32]:
Y_train

2     1.6
17    5.4
1     1.4
9     3.8
11    4.1
5     3.0
Name: YearsExperience, dtype: float64

In [33]:
X_test

18     81364.0
24    109432.0
27    112636.0
29    121873.0
12     56958.0
13     57082.0
16     66030.0
0      39344.0
28    122392.0
6      60151.0
26    116970.0
20     91739.0
10     63219.0
21     98274.0
8      64446.0
14     61112.0
7      54446.0
23    113813.0
19     93941.0
3      43526.0
22    101303.0
25    105583.0
4      39892.0
15     67939.0
Name: Salary, dtype: float64

In [34]:
Y_test

2     37732.0
17    83089.0
1     46206.0
9     57190.0
11    55795.0
5     56643.0
Name: Salary, dtype: float64

In [35]:
# convert series to data frame

In [39]:
X_train=pd.DataFrame(X_train)
Y_train=pd.DataFrame(Y_train)
X_test=pd.DataFrame(X_test)
Y_test=pd.DataFrame(Y_test)

In [40]:
# Model fitting

In [43]:
from sklearn.linear_model import LinearRegression

In [46]:
# fitting the model
regressor=LinearRegression()
regressor.fit(X_train,X_test)

LinearRegression()

In [47]:
# Predict

In [49]:
Y_pred=regressor.predict(Y_train)

In [50]:
Y_pred

array([[39297.22202233],
       [75603.43359409],
       [37386.36878171],
       [60316.60766914],
       [63182.88753007],
       [52673.19470666]])

In [51]:
# Checking accuracy

In [52]:
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

In [56]:
# Mean squared error

mse=mean_squared_error(Y_test,Y_pred)
mse

36064238.49395525

In [57]:
# R2_score

r2=r2_score(Y_test,Y_pred)
r2

0.8143022783109007

In [58]:
# Mean absolute error

mae=mean_absolute_error(Y_test,Y_pred)
mae

5392.453356511894