# creating dictionary

In [3]:
d={1:'name',2:'age',3:'add',4:'marks',5:'college'}
print(d)
d

{1: 'name', 2: 'age', 3: 'add', 4: 'marks', 5: 'college'}

{1: 'name', 2: 'age', 3: 'add', 4: 'marks', 5: 'college'}

In [19]:
mark=[67,78,65,66,34]
sub=['eng','tam','math']
     
dicts={'name':'Lesa', 'class': 12, 'marks':mark,'subjects':sub}
print(dicts)

{'name': 'Lesa', 'class': 12, 'marks': [67, 78, 65, 66, 34], 'subjects': ['eng', 'tam', 'math']}

In [21]:
### access individual values

In [22]:
dicts['subjects']

['eng', 'tam', 'math']

In [23]:
dicts['marks']

[67, 78, 65, 66, 34]

In [24]:
dicts['name']

'Lesa'

In [30]:
print(dicts['addrress'])#### note that to avoid key error using .get function

KeyError: 'addrress'

In [29]:
print(dicts.get('address'))

None

#  print items, keys, values

In [31]:
print(dicts.items())

dict_items([('name', 'Lesa'), ('class', 12), ('marks', [67, 78, 65, 66, 34]), ('subjects', ['eng', 'tam', 'math'])])

In [32]:
print(dicts.keys())

dict_keys(['name', 'class', 'marks', 'subjects'])

In [33]:
print(dicts.values())

dict_values(['Lesa', 12, [67, 78, 65, 66, 34], ['eng', 'tam', 'math']])

# loop through the dictionary

In [35]:
for i in dicts.items():
    print(i)

('name', 'Lesa')
('class', 12)
('marks', [67, 78, 65, 66, 34])
('subjects', ['eng', 'tam', 'math'])

In [36]:
for i in dicts.keys():
    print(i)

name
class
marks
subjects

In [37]:
for i in dicts.values():
    print(i)

Lesa
12
[67, 78, 65, 66, 34]
['eng', 'tam', 'math']

### sorting dictionary

In [39]:
for i in sorted(dicts.keys()):
    print(i)

class
marks
name
subjects

### find id in dictionary

In [43]:
print(id(dicts.keys()))

2249247342656

In [44]:
print(id(dicts))

2249251993024

In [45]:
print(id(dicts['class']))

2249168611984

In [46]:
id(dicts)

2249251993024

### update dictionary values to another dictionary

In [47]:
d={1:'name',2:'age',3:'add',4:'marks',5:'college'}

In [48]:
d

{1: 'name', 2: 'age', 3: 'add', 4: 'marks', 5: 'college'}

In [49]:
dicts

{'name': 'Lesa',
 'class': 12,
 'marks': [67, 78, 65, 66, 34],
 'subjects': ['eng', 'tam', 'math']}

In [50]:
d.update(dicts)

In [51]:
d

{1: 'name',
 2: 'age',
 3: 'add',
 4: 'marks',
 5: 'college',
 'name': 'Lesa',
 'class': 12,
 'marks': [67, 78, 65, 66, 34],
 'subjects': ['eng', 'tam', 'math']}

In [54]:
print(d.keys())

dict_keys([1, 2, 3, 4, 5, 'name', 'class', 'marks', 'subjects'])

In [55]:
print(d.values())

dict_values(['name', 'age', 'add', 'marks', 'college', 'Lesa', 12, [67, 78, 65, 66, 34], ['eng', 'tam', 'math']])

### adding single dictionary value

In [57]:
d1= {'new':'varible added'}

In [58]:
d.update(d1)

In [59]:
d

{1: 'name',
 2: 'age',
 3: 'add',
 4: 'marks',
 5: 'college',
 'name': 'Lesa',
 'class': 12,
 'marks': [67, 78, 65, 66, 34],
 'subjects': ['eng', 'tam', 'math'],
 'new': 'varible added'}

###  Removing itemd from the dictionary

In [74]:

print(d)

{2: 'age', 3: 'add', 4: 'marks', 5: 'college', 'class': 12, 'marks': [67, 78, 65, 66, 34], 'subjects': ['eng', 'tam', 'math'], 'new': 'varible added'}

In [76]:
d.pop(2)

'age'

In [78]:
del d[3]

In [79]:
d

{4: 'marks',
 5: 'college',
 'class': 12,
 'marks': [67, 78, 65, 66, 34],
 'subjects': ['eng', 'tam', 'math'],
 'new': 'varible added'}

In [81]:
d.clear()

In [82]:
d

{}

In [83]:
del d

In [84]:
d

NameError: name 'd' is not defined

### Zip function

In [85]:
dicts

{'name': 'Lesa',
 'class': 12,
 'marks': [67, 78, 65, 66, 34],
 'subjects': ['eng', 'tam', 'math']}

In [92]:
### zip dictionary

d = {'name': 'lisa', 'age': '21', 'addr': 'saidapet'}

keys = d.keys()
values = d.values()

n = dict(zip(values, keys))
o = dict(sorted(n.items()))

print(o)

r = dict(zip(o.values(), o.keys()))
print(r)

TypeError: 'dict' object is not callable

In [93]:
a = list(d.keys())
b = list(d.values())

print(a, b)

['name', 'age', 'addr'] ['lisa', '21', 'saidapet']

In [95]:
list(zip(a,b))

[('name', 'lisa'), ('age', '21'), ('addr', 'saidapet')]

## Dict compare from list and string

In [96]:
d={i:i**2 for i in [1,2,3]}

In [97]:
d

{1: 1, 2: 4, 3: 9}

In [98]:
lt=[1,2,3,4,5]
d1={i:i**3 for i in lt}

In [99]:
d1

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [100]:
### string

In [104]:
st='helloworld'
d={i:i*3 for i in st}

In [102]:
d

{'h': 'hhh',
 'e': 'eee',
 'l': 'lll',
 'o': 'ooo',
 'w': 'www',
 'r': 'rrr',
 'd': 'ddd'}

In [105]:
### using range

In [110]:
d={i:i**4 for i in range(15)}

In [111]:
d

{0: 0,
 1: 1,
 2: 16,
 3: 81,
 4: 256,
 5: 625,
 6: 1296,
 7: 2401,
 8: 4096,
 9: 6561,
 10: 10000,
 11: 14641,
 12: 20736,
 13: 28561,
 14: 38416}

In [112]:
d={i:i**3 for i in range(len(lt))}

In [113]:
d

{0: 0, 1: 1, 2: 8, 3: 27, 4: 64}

In [114]:
## range and if else inside the dictionary

In [117]:
d={i:i**5 for i in range(10) if i%2==0}

In [118]:
d

{0: 0, 2: 32, 4: 1024, 6: 7776, 8: 32768}

In [119]:
### Nested Dictionary

In [121]:
print('Dictionary with values as list...')
d={i:[i*3 for i in range(1,10)] for i in range(11,22)}
d

Dictionary with values as list...

{11: [3, 6, 9, 12, 15, 18, 21, 24, 27],
 12: [3, 6, 9, 12, 15, 18, 21, 24, 27],
 13: [3, 6, 9, 12, 15, 18, 21, 24, 27],
 14: [3, 6, 9, 12, 15, 18, 21, 24, 27],
 15: [3, 6, 9, 12, 15, 18, 21, 24, 27],
 16: [3, 6, 9, 12, 15, 18, 21, 24, 27],
 17: [3, 6, 9, 12, 15, 18, 21, 24, 27],
 18: [3, 6, 9, 12, 15, 18, 21, 24, 27],
 19: [3, 6, 9, 12, 15, 18, 21, 24, 27],
 20: [3, 6, 9, 12, 15, 18, 21, 24, 27],
 21: [3, 6, 9, 12, 15, 18, 21, 24, 27]}

In [127]:
print('Dictionary with values as dict')
d={i:{d:d*3 for d in range(1,10)} for i in range (11,22)}
d

Dictionary with values as dict

{11: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27},
 12: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27},
 13: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27},
 14: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27},
 15: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27},
 16: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27},
 17: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27},
 18: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27},
 19: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27},
 20: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27},
 21: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27}}

In [134]:
print('Dictionary with values as string')
d={i:{s:s*i for s in range(1,5)} for i in 'helloworld'}
d

Dictionary with values as string

{'h': {1: 'h', 2: 'hh', 3: 'hhh', 4: 'hhhh'},
 'e': {1: 'e', 2: 'ee', 3: 'eee', 4: 'eeee'},
 'l': {1: 'l', 2: 'll', 3: 'lll', 4: 'llll'},
 'o': {1: 'o', 2: 'oo', 3: 'ooo', 4: 'oooo'},
 'w': {1: 'w', 2: 'ww', 3: 'www', 4: 'wwww'},
 'r': {1: 'r', 2: 'rr', 3: 'rrr', 4: 'rrrr'},
 'd': {1: 'd', 2: 'dd', 3: 'ddd', 4: 'dddd'}}

# List Comprehension

In [135]:
# even list using list conprehension

even=[i for i in range(1,20) if i%2==0]
even

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [137]:
# odd list using list comprehension

odd=[i for i in range (1,20) if i%2!=0]
odd

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [142]:
# matric generation using list comprehension

mat=[[i for i in range(1,5)] for j in range(1,3)]
mat

[[1, 2, 3, 4], [1, 2, 3, 4]]

In [144]:
## list comprehension through iteration using  string

strings=[a for a in 'helloworld']
strings

['h', 'e', 'l', 'l', 'o', 'w', 'o', 'r', 'l', 'd']

## List handling

### split,extend, insert, index, remove, pop, clear,
### remove, copy, count, any, all, ennumerate, append, update

In [145]:
lt=[1,2,3,4,5]

In [146]:
lt

[1, 2, 3, 4, 5]

In [147]:
ls=[9,8]

In [148]:
ls

[9, 8]

In [149]:
lt.append(ls)

In [150]:
lt

[1, 2, 3, 4, 5, [9, 8]]

In [151]:
lt.extend(ls)

In [152]:
lt

[1, 2, 3, 4, 5, [9, 8], 9, 8]

In [153]:
del lt

In [155]:
lt=[1,2,3,4,5]

In [156]:
lt.extend(ls)

In [157]:
lt

[1, 2, 3, 4, 5, 9, 8]

In [158]:
lt.split()

AttributeError: 'list' object has no attribute 'split'

In [159]:
s=input()

1,2,3,4,5

In [160]:
s

'1,2,3,4,5'

In [161]:
s.split()

['1,2,3,4,5']