# if statement

In [2]:
# if statement

i=20
if i>10:
    print ('given value is greater than 10')

given value is greater than 10

# if else statement

In [3]:
# if else statement
i=10
if i<5:
    print('lesser than 5')
else:
    print('greater than 5')

greater than 5

# if elif else statement

In [6]:
# if elif else statement

i=20

if i<=10:
    print('lesser than 10')
elif((i>10) &(i<=50)):
    print('between 10 to 50')
else:
    print('greater then 50')

between 10 to 50

In [14]:
# nested  if else statement

marks = int(input("Enter the student's marks: "))

if marks>=90:S
    grade='A'
    Class='outstanding'
elif ((marks>=75) & (marks<90)):
    grade='B'
    Class='distinction'
elif ((marks>=60) & (marks<75)):
    grade='C'
    Class='firstclass'
elif ((marks>=45) & (marks<60)):
    grade='D'
    Class='secondclass'
else:
    grade='E'
    Class='thirdclass'
print("Grade:",grade)

print("Class:",Class)

Enter the student's marks: 90
Grade: A
Class: outstanding

# while loop

In [18]:
i=5
while i<10:
    print(i)
    i=i+1

5
6
7
8
9

In [22]:
# while loop with else block

i=5
while i<20:
    print(i, end=' ')
    i=i+1
else:
    print('end')

5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 end

# for loop

In [23]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [24]:
for i in range (10):
    print(i)

0
1
2
3
4
5
6
7
8
9

# list, tuple, set, disct, string in loop iteration

In [26]:
lt=[1,2,3,4,5,6,7,8,9,10]
tup=(1,2,3,4,5,6,7,8,9,10)
st={1,2,3,4,5,6,7,8,9,10}
dt={'a':1,'b':2,'c':3,'d':4,'e':5}
strr=('apple','orange','banana','mango','grapes')

In [27]:
lt

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [28]:
tup

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [29]:
st

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [30]:
dt

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [31]:
strr

('apple', 'orange', 'banana', 'mango', 'grapes')

In [40]:
print('\n list iteration')
for i in lt:
    print(i)
print()
for i in range(len(lt)):
    print(lt[i], end=' ')
print()

for i,e in enumerate(lt):
    print(i,e)

 list iteration
1
2
3
4
5
6
7
8
9
10

1 2 3 4 5 6 7 8 9 10
0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [44]:
print('\n tuple iteration')
for i in tup:
    print(i)
print()

for i in range(len(tup)):
    print( tup[i], end=' ')
print()

for i,e in enumerate(tup):
    print(i,e)

 tuple iteration
1
2
3
4
5
6
7
8
9
10

1 2 3 4 5 6 7 8 9 10
0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [46]:
print('\n set iteration')
for i in st:
    print(i)
    
    
### set is not support for  indexing
for i in range(len(st)):
    print(st[i], end=' ')

 set iteration
1
2
3
4
5
6
7
8
9
10

TypeError: 'set' object is not subscriptable

In [50]:
print('\n disctionary iteration')

for i in dt:
    print(i)
print()

for i in dt.items():
    print(i)
print()

for i in dt.keys():
    print(i)
print()

for i in dt.values():
    print(i)
print()

for i in dt.keys():
    print(i,':', dt[i])

 disctionary iteration
a
b
c
d
e

('a', 1)
('b', 2)
('c', 3)
('d', 4)
('e', 5)

a
b
c
d
e

1
2
3
4
5

a : 1
b : 2
c : 3
d : 4
e : 5

In [54]:
print('\n string iteration')

strr='lisancy'
for i in strr:
    print(i)
    
for i in range(len(strr)):
    print(strr[i], end=' ')

 string iteration
l
i
s
a
n
c
y
l i s a n c y

# Nested loop

In [60]:

for i in range(1,6):
    for j in range(i):
        print('*', end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

# continue and break and pass

In [66]:

for i in range(5):
    if i==3:
        continue
    print(i)

0
1
2
4

In [78]:
for i in range(15):
    if i%2==0:
        continue
        print('even',i)
    if i%2==1:
        print('odd',i)

odd 1
odd 3
odd 5
odd 7
odd 9
odd 11
odd 13

In [84]:
# for i in range(15):
#     if i%2==0:
#         break
#     print(i)

for i in range(1,11):
    if i%5==0:
        break
    print(i)

1
2
3
4