# Dictionary

In [1]:
# dictionary is also a collection of unordered item similarly to the set,but it also have key and values separately.

In [2]:
student={'lisa':98,'vky':100,'sathish':78,'deeksha':100}

In [3]:
student

{'lisa': 98, 'vky': 100, 'sathish': 78, 'deeksha': 100}

In [6]:
student['lisa']

98

In [7]:
student['deeksha']

100

In [8]:
for i in student:
    print(i)

lisa
vky
sathish
deeksha

In [9]:
for i in student:
    print(i,student[i])

lisa 98
vky 100
sathish 78
deeksha 100

In [13]:
for key, values in student.items():
    print(key,values)

lisa 98
vky 100
sathish 78
deeksha 100

In [14]:
stud={'lisa':[89,98,78,60,53],'sathish':[78,87,67,77,98]}

In [15]:
stud

{'lisa': [89, 98, 78, 60, 53], 'sathish': [78, 87, 67, 77, 98]}

In [16]:
for key, values in stud.items():
    print(key, values)

lisa [89, 98, 78, 60, 53]
sathish [78, 87, 67, 77, 98]

In [17]:
for i in stud.values():
    print(i)

[89, 98, 78, 60, 53]
[78, 87, 67, 77, 98]

In [19]:
stud['shan']=[56,67,78,89,90]

In [20]:
stud

{'lisa': [89, 98, 78, 60, 53],
 'sathish': [78, 87, 67, 77, 98],
 'shan': [56, 67, 78, 89, 90]}

In [21]:
stud['rone']=[34,56,67,45,54]

In [22]:
stud

{'lisa': [89, 98, 78, 60, 53],
 'sathish': [78, 87, 67, 77, 98],
 'shan': [56, 67, 78, 89, 90],
 'rone': [34, 56, 67, 45, 54]}

In [23]:
stud['mike']=[34,45]

In [24]:

stud

{'lisa': [89, 98, 78, 60, 53],
 'sathish': [78, 87, 67, 77, 98],
 'shan': [56, 67, 78, 89, 90],
 'rone': [34, 56, 67, 45, 54],
 'mike': [34, 45]}

In [25]:
len(stud)

5

In [26]:
for i in stud:
    print(i, len(stud[i]))

lisa 5
sathish 5
shan 5
rone 5
mike 2

In [27]:
stud.pop('rone')

[34, 56, 67, 45, 54]

In [28]:
stud

{'lisa': [89, 98, 78, 60, 53],
 'sathish': [78, 87, 67, 77, 98],
 'shan': [56, 67, 78, 89, 90],
 'mike': [34, 45]}

In [29]:
del stud['mike']

In [30]:
stud

{'lisa': [89, 98, 78, 60, 53],
 'sathish': [78, 87, 67, 77, 98],
 'shan': [56, 67, 78, 89, 90]}

# Nested dictionary

In [33]:

student={'anitha':{'english':87,'tamil':90,'maths':99,'physics':69,'chemistry':78,'computer':88},
        'kavitha':{'english':89,'tamil':70,'maths':89,'physics':79,'chemistry':88,'computer':68},
        'preethi':{'english':86,'tamil':80,'maths':79,'physics':89,'chemistry':98,'computer':78},
        'janani':{'english':84,'tamil':60,'maths':94,'physics':99,'chemistry':48,'computer':98},
        'divya':{'english':67,'tamil':50,'maths':59,'physics':90,'chemistry':75,'computer':84}}

In [34]:
student

{'anitha': {'english': 87,
  'tamil': 90,
  'maths': 99,
  'physics': 69,
  'chemistry': 78,
  'computer': 88},
 'kavitha': {'english': 89,
  'tamil': 70,
  'maths': 89,
  'physics': 79,
  'chemistry': 88,
  'computer': 68},
 'preethi': {'english': 86,
  'tamil': 80,
  'maths': 79,
  'physics': 89,
  'chemistry': 98,
  'computer': 78},
 'janani': {'english': 84,
  'tamil': 60,
  'maths': 94,
  'physics': 99,
  'chemistry': 48,
  'computer': 98},
 'divya': {'english': 67,
  'tamil': 50,
  'maths': 59,
  'physics': 90,
  'chemistry': 75,
  'computer': 84}}

In [35]:
for i in student:
    print(i)

anitha
kavitha
preethi
janani
divya

In [36]:
for i in student:
    print(i, student[i])

anitha {'english': 87, 'tamil': 90, 'maths': 99, 'physics': 69, 'chemistry': 78, 'computer': 88}
kavitha {'english': 89, 'tamil': 70, 'maths': 89, 'physics': 79, 'chemistry': 88, 'computer': 68}
preethi {'english': 86, 'tamil': 80, 'maths': 79, 'physics': 89, 'chemistry': 98, 'computer': 78}
janani {'english': 84, 'tamil': 60, 'maths': 94, 'physics': 99, 'chemistry': 48, 'computer': 98}
divya {'english': 67, 'tamil': 50, 'maths': 59, 'physics': 90, 'chemistry': 75, 'computer': 84}

In [37]:
# how to find highest mark in each subject

In [38]:
for i in student:
    print(student[i])

{'english': 87, 'tamil': 90, 'maths': 99, 'physics': 69, 'chemistry': 78, 'computer': 88}
{'english': 89, 'tamil': 70, 'maths': 89, 'physics': 79, 'chemistry': 88, 'computer': 68}
{'english': 86, 'tamil': 80, 'maths': 79, 'physics': 89, 'chemistry': 98, 'computer': 78}
{'english': 84, 'tamil': 60, 'maths': 94, 'physics': 99, 'chemistry': 48, 'computer': 98}
{'english': 67, 'tamil': 50, 'maths': 59, 'physics': 90, 'chemistry': 75, 'computer': 84}

In [39]:
student['janani']['computer']

98

In [41]:
student['divya']['tamil']

50

In [43]:
for i in student:
    print(i, student[i]['physics'])

anitha 69
kavitha 79
preethi 89
janani 99
divya 90

In [47]:
for i in student:
    for j in student[i]:
        print(j)

english
tamil
maths
physics
chemistry
computer
english
tamil
maths
physics
chemistry
computer
english
tamil
maths
physics
chemistry
computer
english
tamil
maths
physics
chemistry
computer
english
tamil
maths
physics
chemistry
computer

In [71]:
subjects=[]
for i in student['janani']:
    subjects.append(i)

In [72]:
subjects

['english', 'tamil', 'maths', 'physics', 'chemistry', 'computer']

In [70]:
for i in student:
    print(student[i])

{'english': 87, 'tamil': 90, 'maths': 99, 'physics': 69, 'chemistry': 78, 'computer': 88}
{'english': 89, 'tamil': 70, 'maths': 89, 'physics': 79, 'chemistry': 88, 'computer': 68}
{'english': 86, 'tamil': 80, 'maths': 79, 'physics': 89, 'chemistry': 98, 'computer': 78}
{'english': 84, 'tamil': 60, 'maths': 94, 'physics': 99, 'chemistry': 48, 'computer': 98}
{'english': 67, 'tamil': 50, 'maths': 59, 'physics': 90, 'chemistry': 75, 'computer': 84}

In [78]:
for i in student:
    print(i,student[i])

anitha {'english': 87, 'tamil': 90, 'maths': 99, 'physics': 69, 'chemistry': 78, 'computer': 88}
kavitha {'english': 89, 'tamil': 70, 'maths': 89, 'physics': 79, 'chemistry': 88, 'computer': 68}
preethi {'english': 86, 'tamil': 80, 'maths': 79, 'physics': 89, 'chemistry': 98, 'computer': 78}
janani {'english': 84, 'tamil': 60, 'maths': 94, 'physics': 99, 'chemistry': 48, 'computer': 98}
divya {'english': 67, 'tamil': 50, 'maths': 59, 'physics': 90, 'chemistry': 75, 'computer': 84}

In [79]:

for i in subjects:
    mark=[]
    for j in student:
        mark.append(student[j][i])
        print(mark)
    print(i, max(mark))

[87]
[87, 89]
[87, 89, 86]
[87, 89, 86, 84]
[87, 89, 86, 84, 67]
english 89
[90]
[90, 70]
[90, 70, 80]
[90, 70, 80, 60]
[90, 70, 80, 60, 50]
tamil 90
[99]
[99, 89]
[99, 89, 79]
[99, 89, 79, 94]
[99, 89, 79, 94, 59]
maths 99
[69]
[69, 79]
[69, 79, 89]
[69, 79, 89, 99]
[69, 79, 89, 99, 90]
physics 99
[78]
[78, 88]
[78, 88, 98]
[78, 88, 98, 48]
[78, 88, 98, 48, 75]
chemistry 98
[88]
[88, 68]
[88, 68, 78]
[88, 68, 78, 98]
[88, 68, 78, 98, 84]
computer 98