# Function and moduals

In [1]:
# create user defined function

In [4]:
def square(x):
    print(x**2)

In [5]:
square(3)

9

In [6]:
def welcome():
    print('Hello World!!, welcome to my Jupyter Notebook')

In [7]:
welcome()

Hello World!!, welcome to my Jupyter Notebook

In [8]:
# function calling

def welcome():
    print('Hello World!!, welcome to my Jupyter Notebook')
welcome()

Hello World!!, welcome to my Jupyter Notebook

In [17]:
# define multiple arguments

def number(x1,x2,x3,x4):
    a=x1+x2
    b=x3*x4
    c=x1+x2-x3+x4
    d=x2/x3
    e=x2//x3
    f=x1%x4
    print(a,b,c,d,e,f)
    #return([a,b,c,d,e,f])

In [18]:
number(10,5,6,8)

15 48 17 0.8333333333333334 0 2

In [1]:
# call by value- immutable 

def increment(n):
    n=n+1
    print('In Increment:',str(n))
    
n=5
print('before increment:', str(n))
increment(n)
print('after increment:',str(n))

before increment: 5
In Increment: 6
after increment: 5

In [ ]:
increment(5)

In [2]:
# call by reference- mutable

def increment(lt):
    lt.append(234)
    print('In function:', lt)

lt=[1,2,3,4,5]
print('before lt:', lt)
increment(lt)
print('after lt:',lt)

before lt: [1, 2, 3, 4, 5]
In function: [1, 2, 3, 4, 5, 234]
after lt: [1, 2, 3, 4, 5, 234]

In [4]:
# return statement

def summing(num1,num2):
    return(num1+num2)

In [5]:
summing(3,4)

7

#  Type of function Arguments:

In [18]:
# Default Arguments:

  
# def adds(n1,n2=50):
#     print(n1,'+',n2,'=',n1+n2)

# adds(10)
# adds(10,10)

def adds(n1,n2=43):
    print(n1,'+',n2,'=',n1+n2)

adds(10)

def adds(n1=5,n2=43):
    print(n1,'+',n2,'=',n1+n2)

adds()

10 + 43 = 53
5 + 43 = 48

In [19]:
def adds(n1=5,n2):
    print(n1,'+',n2,'=',n1+n2)

adds()

SyntaxError: non-default argument follows default argument (1684447788.py, line 1)

# Keyword arguments

In [23]:

def prints(age, name, area):
    print(age, name,area)
    
prints(21,'lisa','saidapet')
prints(21,name='lisa',area='saidapet')
prints(name='lisa',area='saidapet',age=21)
prints(area='saidapet',age=21,name='lisa')

21 lisa saidapet
21 lisa saidapet
21 lisa saidapet
21 lisa saidapet

In [24]:
def prints(age, name, area):
    print(age, name,area)
    
prints(21,'lisa','saidapet')
prints(21,name='lisa',area='saidapet')
prints(name='lisa','saidapet',age=21)
prints(area='saidapet',age=21,name='lisa')

SyntaxError: positional argument follows keyword argument (4179342896.py, line 6)

# Positional arguments

In [25]:
def prints(age, name, area):
    print(age, name,area)
    
prints(21,'lisa','saidapet')
prints('lisa','saidapet',21)
prints('saidapet',21,'lisa')

21 lisa saidapet
lisa saidapet 21
saidapet 21 lisa

# Arbitary arguments

In [28]:
# you can give n number of arguments in the function

def summ(n,*arg):
    s=0
    for i in arg:
        s=s+i
    print(s)

In [35]:
summ(3,4,1)  # first values not com=nsider in summing up let's check.

5

In [33]:
summ(1,2,3,4,5)
summ(1,2,3,4,5,4,5)
summ(1,2,3,4,5,4,5,6,7)
summ(1,1,1,1,1,1)

14
23
36
5

# kwargs

In [38]:
for i in kwargs.items():
    print(i)

NameError: name 'kwargs' is not defined

In [42]:
def info(**kwargs):
    print(kwargs)
    print()

In [45]:
info(age=21,name='lisa')
info(age=21)
info(age=21,name='lisa',area='saidapet')
info(name='lisa',area='saidapet',age=21)
info(area='saidapet',age=21,name='lisa')

{'age': 21, 'name': 'lisa'}

{'age': 21}

{'age': 21, 'name': 'lisa', 'area': 'saidapet'}

{'name': 'lisa', 'area': 'saidapet', 'age': 21}

{'area': 'saidapet', 'age': 21, 'name': 'lisa'}

# Doc string

In [60]:
def add(n1,n2):
    '''summing up n1 and n2 
    getting ready to sum doc function 
    concatenating all the string'''
    s=n1+n2
    return(s)

print(add.__doc__)

summing up n1 and n2
    getting ready to sum doc function
    concatenating all the string

In [55]:
add(4,85)

89

In [52]:
def adds(s1,s2):
    '''Function returns concatenated string'''
    s = s1+s2
    return s

print(adds.__doc__)

Function returns concatenated string

# Function within function

In [4]:
def p1():
    print('function 1')
    def p2():
        print('function 2')
    p2()

    

p1()

function 1
function 2

# lambda function

In [5]:
sq=lambda x:x**2
sq(7)

49

In [6]:
cube=lambda x: x**3
cube(4)

64

In [9]:
# if else in lambda

res=lambda x: 'greater' if x<10 else 'lesser'
res(12)

'lesser'

In [12]:
# odd or even in lambda function

odd=lambda x: x%2==1
odd(5)

True

In [13]:
even= lambda x: x%2==0
even(4)

True

#  Variable scope

In [14]:
# varibale can used inside the function is called  local variable scope
# A variable can be used in ouside of the function is called global scope.

# you can used global varible in local scope useing 'global 'keyword in local scope.
#same varibale can be act as a global scope and local scope based on 'global'keyword you have mention inside 
# of the function.

In [17]:

# local scope
def fun(x):
    x=x+1
    print(x)

In [18]:
fun(4)

5

In [22]:
# global scope
x = 300

def myfunc():
    print(x)

myfunc()

# print(x)

300

In [26]:
n,m = 10,20
print(n,m)

def func(n):
    a = 10
    global b
    b=12
    print(a,n,b)  
    print(m)

func(n)

10 20
10 10 12
20

# return vs yield

In [51]:
def square(x):
    for i in range(1,x):
        return(i**2)

In [52]:
square(4)

1

In [55]:
def square(x):
    for i in range(1,x):
        yield(i**2)
print(list(square(6)))

[1, 4, 9, 16, 25]

In [48]:
square(4)

In [49]:
# yield

def fun2(n):
    for i in range(1,n):
        yield i**2

print(list(fun2(5)))

[1, 4, 9, 16]

### Map

In [56]:
# it is used to iteration of variables
# first create lambda function for one iteration 
# and then repeate the same for all the iteration using 'Map' function

#### 1. Lambda

In [58]:
sqr=lambda x:x**2
sqr(4)

16

#### 2. Map

In [63]:
# map(function, iterable)

lt=[2,3,4,5,6,7]
out=list(map(sqr,lt))  # mention list of output otherwise its shows errror
print(out)

[4, 9, 16, 25, 36, 49]

In [65]:
lt=[20,30,12,34,45]

out2=list(map(lambda x: x**3,lt))
print(out2)

[8000, 27000, 1728, 39304, 91125]

#### 3. filter

In [81]:
# filter(condition, iterable)

odd=list(filter(lambda x: x%2==1, range(1,20)))

print(odd)

even=list(filter(lambda x: x%2==0, range(1,20)))
print(even)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
[2, 4, 6, 8, 10, 12, 14, 16, 18]

#### 4. Reduce and accumulate

In [87]:
from functools import reduce  
## reduce is used to summarizing the values and return the last summerized value.
print(reduce(lambda x,y: x+y, range(1,20)))

190

In [96]:
from itertools import accumulate
#  accumulate its also give summrized valued in an iterative manner
lis= [1, 3, 4, 10, 4]
print(list(accumulate(lis,lambda x,y: x*y)))

print(list(accumulate(range(1,5),lambda x,y: x*y)))

[1, 3, 12, 120, 480]
[1, 2, 6, 24]